body {
	background-color: black;
}

/* Screen is 480x800 pixels */
#microwave_container {
	display: table;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 480px;
	height: 800px;
	margin: auto;
	background-color: #EEE;
	font-size: 24px;
}

#left_nav_column {
	width: 80px;
	padding-right: 5px; /* Cell - can't use margin */
}

#left_nav_column {
	text-align: center;
}

#left_nav_column .nav {
	margin-top: 60px;
}

#left_nav_column .nav-pills > li > a {
	border: 2px solid #337ab7;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
}

.nav-stacked > li.spacer {
	height: 50px;
}

#alphabetical_list {
	height: 678px;
	margin-right: 30px;
	padding-right: 2px; /* Leave space for border */
}

#qcook_tabcontainer #alphabetical_list ul > li {
	width: 100%;
}

#scroll_bg {
    height: 678px;
    position: absolute;
    right: 22px;
    width: 1px;
	line-height: 1.08em;
	text-align: center;
	word-wrap: break-word;
	font-family: monospace;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* #337ab7 = 51,122,183 */

.scrollbar {
    /* background: #ccc none repeat scroll 0 0; */
	background: rgba(0,0,0,0.2);
    height: 678px;
    line-height: 0;
    position: absolute;
    right: 0;
    width: 1.2em;
	z-index: 20;
}
.scrollbar .handle {
    background-color: rgba(51,122,183,0.6);
	border: thin solid rgb(51,122,183);
    cursor: pointer;
	margin: 0 auto;
    height: 1.2em;
    width: 1.2em;
	border-radius: 1.2em;
}
.scrollbar .handle .mousearea {
    height: 100%;
    left: -10px;
    position: absolute;
    top: 0;
    width: 22px;
}


#left_nav_column .nav-pills > li > a span.glyphicon {
	top: 4px; /* glyphicons appear too high, vertically */
}

#microwave_container > div {
	display: table-cell;
	height: 100%;
	vertical-align: top;
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
}

#time_column {
	width: 80px;
}

#center_column {
}

#temp_column {
	width: 80px;
}

#time_heading, #temp_heading {
	height: 20px;
	font-weight: bold;
	text-align: center;
	margin: 7px 0;
}

#temp_data {
	border-top: thin solid #333;
	border-left: thin solid #333;
}
#temp_column {
}

#thermal_image img, #thermal_image iframe {
	width: 100%;
	border: 3px solid;
}

#qcook_tabcontainer > div ul {
	display: flex;
	flex-direction: column;
	/* height: 678px; TODO: Need to set this for other lists, disable for A-Z */
	padding: 0;
}

#qcook_tabcontainer > div ul > li {
    border: thin solid;
    display: table;
    padding: 10px;
    width: 95%;
	border-radius: 10px;
	margin: 10px 0;
	cursor: pointer;
	background-color: white;
}

#qcook_tabcontainer > div li > .score {
    display: table-cell;
    text-align: right;
    width: 60px;
}

#qcook_tabcontainer > div li > .title {
    display: table-cell;
}

#center_column h1, #center_column h2 {
	/* Center text, relative to whole page */
	margin-left: -80px;
	text-align: center;
}

#details {
	display: table;
	width: 100%;
}

#details span {
	display: table-cell;
	text-align: center;
}

#time_data, #temp_data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 780px;
}

#time_details > div {
	border: thin solid;
}

#temp_data {
	background-image: linear-gradient(
		orange, red 20%, blue
	);
	color: black;
}

#extras {
	display: table;
	table-layout: fixed;
	border-spacing: 5px;
	width: 318px;
	position: absolute;
	bottom: 0px;
	margin-bottom: 20px;
}

#extras > a {
	display: table-cell;
	text-align: center;
	border: thin solid;
	background-color: #CCC;
	border-radius: 10px;
	padding-top: 8px;
	color: inherit;
}

#extras .glyphicon {
	font-size: 60px;
}

#temp_data > span {
	text-align: right;
}

#thermal_image {
	text-align: center;
	margin: 10px;
}

.qcook {
	border: thin solid;
	margin: 50px 10px;
	padding: 20px 0;
	text-align: center;
	height: 100px;
	line-height: 60px; /* height-padding = 100-20-20 */
	background-color: #CCC;
	border-radius: 10px;
}

.qcook, #extras div {
	cursor: pointer;
}

#time_data, #temp_data {
	cursor: crosshair;
}

a#stop { /* Work around specificity issue, trump #extras > a */
	width: 100%;
	border: 3px solid #800;
	border-radius: 10px;
	color: #800;
	background-color: #E00;
}

#stop > span {
	/* Outline the stop character to highlight it.
	 * We do this by putting a shadow on it, no offset and a small radius.
	 * One shadow isn't visible enough, counter this by doing a few of them.
	 * The black tints it black, doesn't apply a hard black colour.
	 */
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000
}

#time_dial {
	cursor: pointer;
}

#power_triangle, #power_marker {
	position: relative;
	/*border: thin solid;*/
}

#power_marker {
	/* background: rgba(0,200,0,50); */
	top: 5px;
	cursor: move;
}

#power_triangle {
	cursor: pointer;
}
