body {
	background-color: black;
}

/* Screen is 480x800 pixels */
#microwave_container {
	display: table;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 480px;
	height: 800px;
	margin: auto;
	background-color: #EEE;
	font-size: 24px;
}

#time_column {
	display: table-cell;
	width: 80px;
	height: 100%;
}

#center_column {
	display: table-cell;
}

#temp_column {
	display: table-cell;
	width: 80px;
	height: 100%;
}

#time_heading, #temp_heading {
	height: 20px;
	font-weight: bold;
	text-align: center;
	margin: 7px 0;
}

#temp_data {
	border-top: thin solid #333;
	border-left: thin solid #333;
}
#temp_column {
}

#thermal_image img {
	/* weird behaviour, top divs in adjacent columns align with the image height */
	/* vertical-align: top makes it no longer apparent */
	vertical-align: top;
	width: 100%;
	border: 3px solid;
}

#details {
	display: table;
	width: 100%;
}

#details span {
	display: table-cell;
	text-align: center;
}

#time_data, #temp_data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 780px;
}

#time_details > div {
	border: thin solid;
}

#temp_data {
	background-image: linear-gradient(
		orange, red 20%, blue
	);
	color: black;
}

#extras {
	display: table;
	border-spacing: 5px;
	width: 318px;
	position: absolute;
	bottom: 0px;
	margin-bottom: 20px;
}

#extras > div {
	display: table-cell;
	text-align: center;
	border: thin solid;
	background-color: #CCC;
	border-radius: 10px;
	padding-top: 8px;
}

#extras .glyphicon {
	font-size: 60px;
}

#temp_data > span {
	text-align: right;
}

#thermal_image {
	text-align: center;
	margin: 10px;
}

.qcook {
	border: thin solid;
	margin: 50px 10px;
	padding: 20px 0;
	text-align: center;
	height: 100px;
	line-height: 60px; /* height-padding = 100-20-20 */
	background-color: #CCC;
	border-radius: 10px;
}

.qcook, #extras div {
	cursor: pointer;
}

#time_data, #temp_data {
	cursor: crosshair;
}

#stop {
	width: 100%;
	border: 3px solid #800;
	border-radius: 10px;
	color: #800;
	background-color: #E00;
}

#stop > span {
	/* Outline the stop character to highlight it.
	 * We do this by putting a shadow on it, no offset and a small radius.
	 * One shadow isn't visible enough, counter this by doing a few of them.
	 * The black tints it black, doesn't apply a hard black colour.
	 */
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000
}

#time_dial {
	cursor: pointer;
}

#power_triangle, #power_marker {
	position: relative;
	/*border: thin solid;*/
}

#power_marker {
	/* background: rgba(0,200,0,50); */
	top: 5px;
	cursor: move;
}

#power_triangle {
	cursor: pointer;
}
